.button-gradiente {
    background: linear-gradient(
        137deg,
        var(--bt-color-gradient-primary)0%,
        var(--bt-color-gradient-secondary) 100%
      );

    color: var(--text-color-primary);
    border: none;
    padding: 6px 26px;
    border-radius: 17px;
    cursor: pointer;
    outline: none;
}

.button-dark {
    background: #fff;
    color:#000;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: var(--fs-16px);
}


@media (max-width: 393px) {
    .button-gradiente {
        font-size: var(--fs-12px);
    }
    .button-dark {
      font-size: var(--fs-12px);
      padding: 4px 6px
    }

  }