*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #000000;
  --text-color: #18181b;
  --stroker-color: #454545;
  --text-color-primary: #ffffff;
  --text-color-secondary: #9ca3af;
  --text-color-price: #22c55e;

  --bt-color-gradient-primary: #1371ef;
  --bt-color-gradient-secondary: #e539a2;

  --bg-color11: linear-gradient(137deg, #1371EF, #E539A2);

  --ff-nunito-sans: "Nunito", serif;

  --fs-10px: 10px;
  --fs-12px: 12px;
  --fs-14px: 14px;
  --fs-15px: 15px;
  --fs-16px: 16px;
  --s-18px: 18px;
  --fs-20px: 20px;
  --fs-21px: 21px;
  --fs-24px: 24px;
  --fs-25px: 25px;
  --fs-36px: 36px;
  --fs-40px: 40px;
  --fs-60px: 60px;
}

html {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  background: var(--bg-color);
  color: var(--text-color-primary);
}

h1 {
  font-family: var(--ff-nunito-sans);
  font-size: var(--fs-60px);
  font-weight: 300;
}
h2 {
  font-size: var(--fs-36px);
  font-weight: 300;
}
h4 {
  font-family: var(--ff-nunito-sans);
  font-size: var(--fs-25px);
  font-weight: 300;
  color: var(--text-color-secondary);
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: var(--fs-21px);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--text-color-primary);
  font-size: var(--fs-16px);
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--fs-36px);
  }
  a {
    font-size: var(--fs-16px);
  }
}


@media (max-width: 393px) {
  h1 {
    font-size: var(--fs-20px) ;
  }
  h4 {
    font-size: var(--fs-10px);
  }
  a {
    font-size: var(--fs-10px);
  }
}
