.hero {
    width: 100%;
    background: url("../assets/Hero.svg");
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 736px;
    overflow: hidden;
    position: relative; /* Necessário para o posicionamento do ::after */
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, transparent,rgb(0, 0, 0)); 
    pointer-events: none; 
}

.hero-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 32px 16px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (max-width: 768px) {
    .hero-banner img {
        display: block;
        max-width: 100%;
        width: fit-content;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
}

@media (max-width: 625px) {
    .hero-banner img {
        display: block;
        max-width: 200px;
        width: fit-content;
    }
    .hero::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, transparent,rgba(0, 0, 0, 0.56)); 
        pointer-events: none; 
    }
    
}


@media (max-width: 393px) {
    .hero-container {
        gap: 50px;
    }

    .hero-banner img {
        display: block;
        max-width: 152.17px;
        width: 100%;
        width: fit-content;
    }
    .hero::after {
        
        height: 50%;
        background: linear-gradient(to bottom, transparent,rgba(0, 0, 0, 0.56)); 
        pointer-events: none; 
    }

  }